<!DOCTYPE html>
<html lang="en">

<head>
    <title>Los mojinos escozios</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="https://www.atiza.com/imggrupo/losmojinosescozios_nom.gif"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Miembros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="Sevilla.html">El Sevilla</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="chicho.html">El Chicho</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="puto.html">El Puto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="kanishe.html">El Kanishe</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="vidalito.html">El Vidalito</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../history.html">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contact.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://img.asmedia.epimg.net/resizer/joKB6lUu5jgBzddb1jg2YjNtzj0=/360x0/as01.epimg.net/tikitakas/imagenes/2020/09/27/portada/1601191403_631703_1601193168_sumario_normal.jpg"
                    alt="Imagen de Chicho" class="img-fluid profile-img">
            </div>
            <div class="col-lg-6">
                <h1 class="mb-4 members-text"> Chicho</h1>
                <p>Chicho es el guitarrista de Los Mojinos Escozíos. Nacido en Barcelona, se unió a la banda en
                    1994 y ha sido una parte integral de su éxito desde entonces.</p>
                <p>Conocido por su habilidad con la guitarra y su sentido del humor, Chicho ha ayudado a Los Mojinos
                    Escozíos a
                    convertirse en una de las bandas de rock más reconocidas de España.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <h2 class="mb-4 members-text">Biografía</h2>
                <p>Chicho nació en Barcelona, España, el 1 de enero de 1970. Su padre era un músico profesional y su
                    madre
                    era una cantante de ópera. Chicho comenzó a tocar la guitarra a los 10 años y pronto se convirtió en
                    un
                    virtuoso. A los 15 años, Chicho se unió a una banda local llamada "Los Mojinos Escozíos".</p>
                <p>Chicho se convirtió en el guitarrista principal de la banda y ayudó a Los Mojinos Escozíos a
                    convertirse
                    en una de las bandas de rock más populares de España. Chicho también es conocido por su sentido del
                    humor y su habilidad para hacer reír a la gente.</p>

            </div>
        </div>
        <div class="row mt-5 mb-4">
            <div class="col-lg-12">
                <h2 class="mb-4 members-text">Galería</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://img.asmedia.epimg.net/resizer/BtBhNqVHq4yKOMk7JDk3kI_MkWU=/1472x1104/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/KT3WZ6XZPNOEFF64VTV5EZ7J6A.jpg"
                            alt="Foto 1" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="https://www.diariodealmeria.es/resources/images/0000592400.jpg" alt="Foto 2"
                            class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="https://enderrock.sobrevia.net/redaccio/arxius/imatges/202009/576_1601204096mojinos_escozios_f_xavier_mercadeDSC_3488.jpg"
                            alt="Foto 3" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-buttons">
            <button class="circle-button"><i class="bi bi-twitter-x"></i></button>
            <button class="circle-button"><i class="bi bi-instagram"></i></button>
            <button class="circle-button"><i class="bi bi-youtube"></i></button>
            <button class="circle-button"><i class="bi bi-facebook"></i></button>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>