<!DOCTYPE html>
<html lang="en">

<head>
    <title>Los mojinos escozios</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="https://www.atiza.com/imggrupo/losmojinosescozios_nom.gif"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Miembros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="Sevilla.html">El Sevilla</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="chicho.html">El Chicho</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="puto.html">El Puto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="kanishe.html">El Kanishe</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="vidalito.html">El Vidalito</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../history.html">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contact.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.6435-9/44783377_2102102303167425_763657344281214976_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=4dc865&_nc_ohc=1uVNIgftfkgAX_78hHv&_nc_ht=scontent-mad1-1.xx&oh=00_AfBfI1oLS5ilGMonlJMjRgvZkAGIVkTJAuOYB2jpWufakw&oe=65DE23E1" alt="el kanishe" class="img-fluid profile-img">
            </div>
            <div class="col-lg-6">
                <h1 class="mb-4 members-text"> El Kanishe</h1>
                <p>El Kanishe es el bajista de Los Mojinos Escozíos. Nacido en Barcelona, se unió a la banda en
                    1994 y ha sido una parte integral de su éxito desde entonces.</p>
                <p>Conocido por su habilidad con el bajo y su sentido del humor, El Kanishe ha ayudado a Los Mojinos
                    Escozíos a
                    convertirse en una de las bandas de rock más reconocidas de España.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <h2 class="mb-4 members-text">Biografía</h2>
                <p>El Kanishe nació en Barcelona, España, el 1 de enero de 1970. Su padre era un músico profesional y
                    su madre era una cantante de ópera. El Kanishe comenzó a tocar el bajo a la edad de 10 años y
                    pronto se convirtió en un virtuoso del instrumento.</p>
                <p>En 1994, El Kanishe se unió a Los Mojinos Escozíos como bajista. Desde entonces, ha sido una parte
                    integral de su éxito y ha ayudado a la banda a convertirse en una de las bandas de rock más
                    reconocidas de España.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 mb-4">
                <h2 class="members-text">Galería</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.18169-9/15192513_1332866703392572_4094992165833197125_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=eTNkk3xHAowAX_4O4u4&_nc_ht=scontent-mad1-1.xx&oh=00_AfBnmTnnxtZSzbb4dXOaUGGN4l411sw46dhQivfvVr5Ckg&oe=65DE12DF" alt="Foto 1"
                            class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.18169-9/11742739_1103163516379002_7271191496533205787_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=Q0TSRIZs2_sAX9FawBf&_nc_ht=scontent-mad1-1.xx&oh=00_AfAXL1J3aWJQ31kA2v_xdJg4wesCcZqvLUOjwx5LpnzQxw&oe=65DE1FBC" alt="Foto 2"
                            class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t39.30808-6/292862513_10222487143066607_3642004415015264532_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a73e89&_nc_ohc=fEFOQOTkJNoAX-s-GPs&_nc_ht=scontent-mad1-1.xx&oh=00_AfDq7mnNZ43aYIzryXeL0H0xFLi8UfSeri1WTPIP1MJwMw&oe=65BAA47F"
                            alt="Foto 3" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-buttons">
            <button class="circle-button"><i class="bi bi-twitter-x"></i></button>
            <button class="circle-button"><i class="bi bi-instagram"></i></button>
            <button class="circle-button"><i class="bi bi-youtube"></i></button>
            <button class="circle-button"><i class="bi bi-facebook"></i></button>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>