<!DOCTYPE html>
<html lang="en">

<head>
    <title>Los mojinos escozios</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="https://www.atiza.com/imggrupo/losmojinosescozios_nom.gif"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Miembros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="members/Sevilla.html">El Sevilla</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="members/chicho.html">El Chicho</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="members/puto.html">El Puto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="members/kanishe.html">El Kanishe</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="members/vidalito.html">El Vidalito</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="history.html">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <div class="mb-5">
            <h1 class="intro-text">Descripción</h1>
            <p class="text-justify">Los Mojinos Escozíos es un grupo de rock español, originario de la localidad de La
                Línea de la Concepción
                (Cádiz). Su estilo se caracteriza por la mezcla de rock y heavy metal con letras humorísticas y
                escatológicas. El grupo se formó en 1994 y desde entonces ha publicado 15 álbumes de estudio, 2 álbumes
                en directo y 2 recopilatorios. En 2005, el grupo recibió el Premio Ondas al mejor espectáculo musical.
            </p>
        </div>
        <div class="mb-5">
            <h1 class="intro-text">Historia</h1>
            <p class="text-justify">Los Mojinos Escozíos se formaron en 1994 en La Línea de la Concepción (Cádiz),
                cuando el grupo de rock
                local "Los Toreros Muertos" se separó. El grupo estaba formado por el vocalista Miguel Ángel Rodríguez
                "El Sevilla", el guitarrista Juan Ramón Artero "El Chicho", el bajista Vidal Barja "El Vidalito", el
                batería Juan Carlos Barja "El Barbas" y el teclista Juan Manuel Anguita "El Kanijo". El nombre del grupo
                surgió de una frase que el guitarrista Juan Ramón Artero "El Chicho" dijo en una entrevista: "Somos
                como los mojinos escozíos, que nos gusta el rock and roll".</p>
            <p class="text-justify">En 1995, el grupo publicó su primer álbum de estudio, Las margaritas son flores del
                campo, que fue
                producido por el guitarrista de Los Toreros Muertos, Guillermo Piccolini. El álbum incluyó canciones
                como "Mi jefe", "El tío de la vara" y "El tío de la vara (versión flamenca)".</p>
            <p class="text-justify">En 1996, el grupo publicó su segundo álbum de estudio, Demasiao perro pa trabajá,
                que fue producido por
                el guitarrista de Los Toreros Muertos, Guillermo Piccolini. El álbum incluyó canciones como "Las
                niñas", "El tío de la vara (versión flamenca)" y "El tío de la vara (versión flamenca)".</p>
            <p class="text-justify">En 1997, el grupo publicó su tercer álbum de estudio, Semos unos máquinas, que fue
                producido por el
                guitarrista de Los Toreros Muertos, Guillermo Piccolini. El álbum incluyó canciones como "El tío de la
                vara (versión flamenca)", "El tío de la vara (versión flamenca)" y "El tío de la vara (versión
                flamenca)".</p>
        </div>
    </main>
    <footer>
        <div class="footer-buttons">
            <button class="circle-button"><i class="bi bi-twitter-x"></i></button>
            <button class="circle-button"><i class="bi bi-instagram"></i></button>
            <button class="circle-button"><i class="bi bi-youtube"></i></button>
            <button class="circle-button"><i class="bi bi-facebook"></i></button>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>